.app {
  margin-top: 30px;
}

.moviesCardWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

@media (max-width: 768px) {
  .moviesCardWrapper {
    justify-content: center;
    align-items: center;
  }
}
