.movieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 350px;
}

.movieCard .imageWrapper {
  width: 350px;
  height: auto;
  text-align: center;
  padding: 15px;
}
.movieCard .imageWrapper img {
  max-width: 100%;
}
.movieCard .contentWrapper {
  padding: 0 20px 20px;
}

.movieCard .contentWrapper span {
  font-weight: bold;
}
